html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

body, canvas {
    background-color: black;
}

canvas {
    width: 85%;
    align-self: center;
    object-fit: contain;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

img {
    display: none;
}

h4 {
    align-self: center;
}

#Winner {
    align-self: center;
}

#Instructions {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.move {
    padding-right: 10px;
}
