html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Press Start 2P', cursive;
    padding-bottom: 2rem;
}

body, canvas {
    background-color: black;
}

canvas {
    width: 85%;
    align-self: center;
    object-fit: contain;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

img {
    display: none;
}

h1 {
    color: #FF0000;
}

h4 {
    align-self: center;
    color: #FF0000;
}

h5 {
    color: #FF0000;
}

span {
    color: #ff1010;
}

#Winner, #win-condition {
    align-self: center;
}

#win-condition {
    padding-left: 3rem;
    padding-right: 3rem;
}

#Instructions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

#p1-moves, #p2-moves {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
}

.move {
    font-size: .725rem;
    line-height: 1.5;
}

#logo {
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#logo-image {
    display: block;
}
